* {
  color: #2D3142;
  /* font-family: 'Playfair Display', serif; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #FCFAF9;
}

.light-text {
  color: #FCFAF9;
}

.primary-color-text {
  color: #EF8354;
}

.accent-color-text {
  color: #48E5C2;
}

.dark-bg {
  background-color: #2D3142;
}

.medium-bg {
  background-color: #4F5D75;
}

.color-bg {
  background-color: #EF8354;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-shrink: 0;
  height: 60px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

.new-booking-section {
  flex-shrink: 0;
  height: 250px;
}
